{
  "enabled": [
    7045549272
  ],
  "stats": {
    "662750197": {
      "requests": 63,
      "images": 61,
      "megabytes": 8.450403213500977,
      "total_tokens": 72373,
      "total_cost": 7.773999999999998
    },
    "7045549272": {
      "requests": 0,
      "images": 0,
      "megabytes": 0.0,
      "total_tokens": 0,
      "total_cost": 0.0
    }
  },
  "meta": {
    "7045549272": {
      "description": "домашняя учётка",
      "username": "alexchillout",
      "full_name": "Саша"
    }
  }
}